default: &default
  adapter: postgresql
  encoding: unicode
  host: db
  username: postgres
  password: password
  pool: 5

development:
  <<: *default
  database: myapp_development


test:
  <<: *default
  database: myapp_test
#
production:
  <<: *default
  database: myapp_production
  username: myapp
  password: <%= ENV["postgres://vqsdrfhdzuqesb:a5ea1ca509bf30ee11c9698ec2f513838583a4262049dea253cc6134a4f23029@ec2-52-1-92-133.compute-1.amazonaws.com:5432/dcjeno75ocnlhr"] %>
